@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
  height: 100%;
}

/* Animation */
.animator-fader {
  transition: 0.7s;
  opacity: 1;
}
.animator-fader.fade {
  opacity: 0;
}

#erasmiana-logo {
  transition: 0.7s ease-in-out;
}
#erasmiana-logo-fixed {
  display: none;
}

/* Fonts */
.im-fell-dw-pica-regular {
  font-family: "IM Fell DW Pica", serif;
  font-weight: 400;
  font-style: normal;
}

.im-fell-dw-pica-regular-italic {
  font-family: "IM Fell DW Pica", serif;
  font-weight: 400;
  font-style: italic;
}

.cardo-regular {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: normal;
}

.cardo-bold {
  font-family: "Cardo", serif;
  font-weight: 700;
  font-style: normal;
}

.cardo-regular-italic {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: italic;
}

/* Chatbot testing */
#erasmus-chatbot .react-chatbot-kit-chat-container input[type="text"], .react-chatbot-kit-chat-container .react-chatbot-kit-chat-input {
  font-size: 16px;
}

#erasmus-chatbot .react-chatbot-kit-chat-container {
  @apply w-full;
  @apply shadow-lg;
  @apply border;
  @apply rounded-md;
  @apply border-slate-200;
}

#erasmus-chatbot .react-chatbot-kit-chat-bot-message {
  @apply ml-5;
  @apply w-full;
}

#erasmus-chatbot .react-chatbot-kit-chat-input {
  @apply text-black;
}

#erasmus-chatbot .ai-geocoder .mapboxgl-ctrl-geocoder {
  @apply m-auto;
  @apply border;
  @apply border-black;
}
#erasmus-chatbot .react-chatbot-kit-chat-bot-message-container h3 {
  @apply text-lg;
  @apply font-bold;
  @apply mb-2.5;
}
#erasmus-chatbot .react-chatbot-kit-chat-bot-message-container ol {
  @apply pl-5;
  @apply mb-2.5;
}
#erasmus-chatbot .react-chatbot-kit-chat-bot-message-container ol li {
  @apply list-decimal;
}
#erasmus-chatbot .react-chatbot-kit-chat-bot-message-container ul {
  @apply pl-5;
  @apply mb-2.5;
}
#erasmus-chatbot .react-chatbot-kit-chat-bot-message-container ul li {
  @apply list-disc;
}
#erasmus-chatbot .react-chatbot-kit-chat-bot-message-container p {
  @apply mb-2.5;
}
#erasmus-chatbot .react-chatbot-kit-chat-bot-message-container a {
  @apply underline;
}
